@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url('./fontes/idroid.otf') format('opentype');
}
*{
    margin: 0px;
    padding: 0px;
}

:root{ 
    --cor1: #131112;
    --cor2: #E28413;
    --cor3: #b91318d8;
    --cor4: #bf171e;
    --cor5: #E71D36;
    --cor0: #FFFFFF;

    --fonte-padrao: arial, verdana, serif, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

header{
    margin: auto;
    max-width: 600px;
  

}

/*navagação do menu*/
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.295);
}
nav > a {
    color: var(--cor0);
    font-family: var(--fonte-padrao);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: 1.0s;

}

h1{
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    font-weight: normal;

    
}

main h2{
    font-family: var(--fonte-padrao);
    padding: 10px;
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: normal;

}

li{
    font-family: var(--fonte-padrao);
    padding: 10px;
    color: var(--cor1);
    font-size: 1.0em;
    font-weight: normal;
   
}
main{ 
    transition: 1s;
    background-color: #EAEAEA;
 
    max-width: 850px;
    margin: auto;
    margin-top: 1,5px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
   
 }

 main a{
     text-decoration: none;
     font-weight: bold;
     color: var(--cor5);
     background-color: var(--cor1);
     padding: 2px 6px;
 }
 main a:hover{
     text-decoration: underline;
     color: var(--cor0);
 }




.range{
    height: 88px;
    
    max-width: 350px;
    background: var(--cor0);
    border-radius: 10px;
    padding: 0 65px 0 45px;
    
}
/* Slider do Range*/
.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .valorSlider{
    position: relative;
    width: 100%;
}

.range .valorSlider span{
    position:absolute;
    height: 45px;
    color: var(--cor0);
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 50px;
    z-index: 2; 
    }

    .range .valorSlider span.show{
        transform: translateX(-50%) scale(1);
    }

    .range .valorSlider span:after{
    position: absolute;   
    content: "";
    height: 45px;
    width: 45px;
    background:var(--cor5);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid var(--cor0);
    z-index: -1; 
    border-top-left-radius: 50%;
     border-top-right-radius: 50%;
     border-bottom-left-radius: 50%;
    }


.range .field .valor{
    content: "";
    font-size: 18px;
    font-weight: 600;
    color: var(--cor5);
}

.range .field .valor .left{
 left: -22px;
}

.range .field .valor .right{
    right: -43px ;
}
.range .field input{
   -webkit-appearance: none;
    height: 2px;
    width: 100%;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    outline: none;
    border: none;
   
}

main .range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
     height: 100%;
     width: 2%;
     background: var(--cor2);
     border-radius: 50%;
   border: 5px solid var(--cor5);
   cursor: pointer;
    
 }
 
main .range .field input::-moz-range-progress{
    background: var(--cor0);
}

 .pergunta{ 
    padding-bottom: 5%;
 }

 input[type=submit]{
    background-color:var(--cor5);
    width: 140px;
    height: 40px;
    font-weight: 500;
    color: var(--cor0);
    cursor: pointer;
}


ul{
    list-style-type:none;
    list-style-position: inside;
    columns: 2;
}

textarea{
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    height: 120px;
    border: 1x solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    
    max-width: 800px;
    color: #444;
    resize:initial;
}

footer{
    background:var(--cor4);
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: var(--cor0);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

footer img{
    padding-top: -0px;
}

footer a img{
    width: 50px;
}

@media  (max-width:400px) {
   
    footer{
        position: relative;
    }
}

.check{
    width: 20px;
    height: 20px;
}
